.action-button {
  background-color: #3840C4;
  color: #fff;
  width: 160px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
}

@media (min-width: 1400px) {
  .hide_desktop {
    display: none;
  }
}

@media (max-width: 1399px) {
  .hide_mobile {
    display: none;
  }
}

.about {
  padding: 46px 15px;
  width: 100%;
  background-color: #F4F5F7;
  transition: 1s;
}
@media (min-width: 1400px) {
  .about {
    padding: 77px 130px 76px 130px;
    display: flex;
    justify-content: space-between;
  }
}

.article {
  transition: 1s;
}
@media (min-width: 1400px) {
  .article {
    width: 555px;
  }
}
.article:last-child {
  margin-top: 20px;
  transition: 1s;
}
@media (min-width: 1400px) {
  .article:last-child {
    margin-top: 0;
  }
}
.article__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  margin: 0;
}
.article__text {
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 0;
  margin-top: 6px;
}

.customers {
  display: flex;
  flex-direction: column;
  transition: 1s;
}
@media (min-width: 1400px) {
  .customers {
    width: 1140px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 106px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
}
.customers__row {
  display: flex;
  transition: 1s;
}
@media (min-width: 1400px) {
  .customers__row {
    flex: 1;
    justify-content: space-around;
  }
}
.customers__item {
  width: 107px;
  height: 94px;
  border-bottom: 1px solid #E3E3E3;
  border-right: 1px solid #E3E3E3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  transition: 1s;
}
.customers__item:last-child {
  border-right: none;
}
@media (min-width: 1400px) {
  .customers__item {
    border: none;
  }
}
.customers__logo {
  filter: brightness(0);
  max-width: 80%;
}

.customers.agen {
  transition: 1s;
}
@media (min-width: 1400px) {
  .customers.agen {
    padding-bottom: 76px;
  }
}

.features {
  display: flex;
  position: relative;
  transition: 1s;
}
@media (max-width: 1399px) {
  .features {
    display: none;
  }
}
@media (min-width: 1400px) {
  .features {
    padding-bottom: 103px;
  }
}
.features__content {
  width: 1140px;
  margin: auto;
  display: flex;
}
.features__column {
  width: 459px;
}
.features__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #009b4d;
  margin: 0;
}
.features__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
  margin-top: 24px;
  margin-bottom: 0;
}
.features__description {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 34px;
}
.features__advantage-header {
  line-height: 42px;
  display: flex;
  margin-top: 42px;
}
.features__advantage-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #3142c6;
  margin: 0;
  margin-left: 15px;
}
.features__advantage-description {
  font-size: 18px;
  line-height: 26px;
  margin-top: 8px;
  margin-bottom: 0;
  padding-bottom: 20px;
  border-bottom: 3px solid #3142c6;
}
.features__advantage-item {
  border-bottom: 1px solid #2b292d26;
  margin-top: 21px;
  padding-bottom: 22px;
  display: flex;
}
.features__advantage-item-text {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin-left: 15px;
}
.features__left-decoration {
  position: absolute;
  top: 258px;
  height: 166px;
}
.features__banner {
  position: absolute;
  right: 0;
}

.order {
  padding: 50px 15px;
  background-color: #F4F5F7;
  transition: 1s;
}
@media (min-width: 1400px) {
  .order {
    padding: 73px 0 72px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
.order__details {
  max-width: 555px;
}
.order__illustration {
  max-width: 200px;
  display: block;
  margin: auto;
  transition: 1s;
}
@media (min-width: 1400px) {
  .order__illustration {
    max-width: 269px;
    margin: 0;
    margin-right: 121px;
  }
}
.order__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
  margin-top: 40px;
  margin-bottom: 0;
}
.order__text {
  font-size: 24px;
  line-height: 34px;
  margin: 0;
  margin-top: 18px;
}
.order__form {
  transition: 1s;
}
@media (min-width: 1400px) {
  .order__form {
    display: flex;
    margin-top: 26px;
  }
}
.order__email {
  margin-top: 40px;
  border: 1px solid #2b292d33;
  border-radius: 2px;
  height: 48px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  transition: 1s;
}
@media (min-width: 1400px) {
  .order__email {
    margin-top: 0;
  }
}
.order__email::placeholder {
  color: #2b292d;
}
.order__button {
  margin-top: 12px;
  transition: 1s;
}
@media (max-width: 1399px) {
  .order__button {
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .order__button {
    margin-top: 0;
    margin-left: 10px;
    flex-shrink: 0;
  }
}
.order__terms {
  font-size: 14px;
  line-height: 22px;
  color: #2b292d99;
}
.order__terms-link {
  color: #3142c6;
}

.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}
.footer__description {
  display: none;
  line-height: 26px;
  font-size: 18px;
  width: 360px;
  margin-top: 26px;
  color: #2b292d99;
}
@media (min-width: 1400px) {
  .footer__description {
    display: block;
  }
}
.footer__line {
  border-top: 1px solid #2b292d;
  width: 100%;
  margin: 0;
  margin-top: 40px;
  opacity: 0.1;
}
@media (min-width: 1400px) {
  .footer__line {
    margin: 0;
  }
}
@media (max-width: 1399px) {
  .footer .logo {
    display: none;
  }
}

.footer-navigation {
  margin: 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1400px) {
  .footer-navigation {
    width: 1140px;
    margin: 0 auto;
    height: 338px;
    display: flex;
    flex-direction: row;
  }
}

.downloads {
  margin: 25px 15px 0 15px;
  display: flex;
  justify-content: center;
}
@media (min-width: 1400px) {
  .downloads {
    margin: 0;
    margin-top: 25px;
    justify-content: left;
  }
}
.downloads__item {
  margin-right: 10px;
}

.about-company {
  margin-top: 44px;
}

.additional-navigation {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1400px) {
  .additional-navigation {
    flex-direction: row;
    margin-top: 60px;
    margin-left: auto;
  }
}
.additional-navigation__column {
  margin-top: 30px;
  transition: 1s;
}
@media (min-width: 1400px) {
  .additional-navigation__column {
    margin-top: 0;
    margin-right: 29px;
  }
}

.nav-links {
  width: 265px;
}
.nav-links__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  color: #28292d;
  margin: 0;
}
.nav-links__list {
  list-style-type: none;
  font-size: 18px;
  line-height: 30px;
  color: #2b292d99;
  margin: 0;
  margin-top: 18px;
  padding: 0;
}

.footer-links {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  transition: 1s;
}
@media (min-width: 1400px) {
  .footer-links {
    height: 50px;
    flex-direction: row;
    width: 1140px;
    margin: 0 auto;
    align-items: center;
  }
}

.terms {
  line-height: 22px;
  font-size: 14px;
  margin-top: 30px;
}
@media (min-width: 1400px) {
  .terms {
    line-height: 50px;
    margin-top: 0;
  }
}
.terms__items {
  text-decoration: none;
  color: #2b292d99;
  margin-right: 22px;
}

.solial-links {
  margin-top: 30px;
  margin-bottom: 23px;
  transition: 1s;
}
@media (min-width: 1400px) {
  .solial-links {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
  }
}
.solial-links__item {
  margin-left: 20px;
}
.solial-links__item:first-child {
  margin-left: 0;
}

.logo-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 1s;
}
@media (min-width: 1400px) {
  .logo-vertical {
    display: none;
  }
}
.logo-vertical__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  margin-top: 20px;
}
.logo-vertical__description {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #2b292d99;
}
.logo-vertical__image {
  width: 60px;
  height: 60px;
}

.header {
  height: 64px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-left: 15px;
  transition: 1s;
}
@media (min-width: 1400px) {
  .header {
    background-color: #f3c6bd;
    width: 1140px;
    height: 62px;
    margin: auto;
    display: flex;
  }
}
.header__button {
  display: none;
  transition: 1s;
}
@media (min-width: 1400px) {
  .header__button {
    display: block;
  }
}
.header__menu-button {
  width: 58px;
  border: none;
  border-left: 1px solid #00000026;
  height: 100%;
  margin-left: auto;
  background: transparent;
  transition: 1s;
}
@media (min-width: 1400px) {
  .header__menu-button {
    display: none;
  }
}
.header__menu-icon {
  width: 18px;
  height: 13px;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png");
  display: inline-block;
}

.navigation {
  display: none;
  transition: 1s;
}
@media (min-width: 1400px) {
  .navigation {
    display: block;
    margin-left: auto;
    margin-top: 7px;
    margin-right: 75px;
  }
}
.navigation__item {
  color: #282920;
  text-decoration: none;
  line-height: 25px;
  font-size: 18px;
  margin-right: 50px;
}
.navigation__item:last-child {
  margin-right: 0;
}
.navigation__item_selected {
  font-weight: 700;
}
.navigation__arrow {
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png");
  margin-left: 11px;
  display: inline-block;
  width: 8px;
  height: 5px;
}

.logo {
  display: flex;
}
.logo__image {
  width: 48px;
  height: 48px;
  margin-right: 13px;
  transition: 1s;
}
@media (min-width: 1400px) {
  .logo__image {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
}
.logo__name {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}
.logo__description {
  display: none;
  transition: 1s;
}
@media (min-width: 1400px) {
  .logo__description {
    display: block;
    font-size: 18px;
    line-height: 25px;
    color: #282920;
    opacity: 0.6;
  }
}
.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-section {
  background-color: #f3c6bd;
  transition: 1s;
}
@media (min-width: 1400px) {
  .top-section {
    padding-top: 39px;
  }
}

.headline {
  width: 100%;
  transition: 1s;
}
@media (min-width: 1400px) {
  .headline {
    width: 1140px;
    margin: auto;
    position: relative;
    margin-top: 84px;
    display: flex;
    padding-bottom: 77px;
  }
}
.headline__content {
  margin: 35px 15px 33px 15px;
  transition: 1s;
}
@media (min-width: 1400px) {
  .headline__content {
    position: absolute;
    z-index: 1;
    margin: 0;
  }
}
.headline__title {
  font-weight: 700;
  width: 100%;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.3125px;
  margin: 0;
  transition: 1s;
}
@media (min-width: 1400px) {
  .headline__title {
    width: 754px;
    height: 165px;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    z-index: 1;
    margin: 0;
  }
}
.headline__description {
  margin-top: 24px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 34px;
}
@media (min-width: 1400px) {
  .headline__description {
    margin-top: 34px;
    width: 456px;
    height: 102px;
    z-index: 1;
  }
}
.headline__actions {
  margin-top: 30px;
  transition: 1s;
}
@media (min-width: 1400px) {
  .headline__actions {
    margin-top: 58px;
    display: flex;
  }
}
.headline__learn-more-btn {
  background-color: #fff;
  color: #3840c4;
  width: 158px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
  margin-top: 15px;
}
@media (min-width: 1400px) {
  .headline__learn-more-btn {
    margin-left: 10px;
    margin-top: 0;
  }
}
.headline__banner {
  width: 100%;
  margin-bottom: 36px;
}
@media (min-width: 1400px) {
  .headline__banner {
    position: relative;
    right: -105px;
    top: 0;
    width: 796px;
    height: 448px;
    margin-left: auto;
  }
}

@media (max-width: 1399px) {
  .headline__actions-btn {
    width: 100%;
  }
}

.tips {
  margin-top: 8px;
  transition: 1s;
}
@media (min-width: 1400px) {
  .tips {
    display: none;
  }
}

.tip {
  padding: 40px 15px 0 15px;
  border-bottom: 1px solid #e3e3e3;
}
.tip__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #009b4d;
}
.tip__title {
  margin: 0;
  margin-top: 17px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
}
.tip__description {
  font-size: 24px;
  line-height: 34px;
  margin: 0;
  margin-top: 13px;
}
.tip__decoration {
  margin: 0;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tip__image {
  margin-top: 20px;
}
.tip__image-caption {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #2b292d99;
  margin-top: 20px;
  max-width: 100%;
}
.tip:last-child {
  border-bottom: none;
}

.inbox {
  background-color: #fefbf8;
  padding: 50px 15px;
  transition: 1s;
}
.inbox__image-for-small-screen {
  margin: 0;
}
.inbox__image-for-small-screen img {
  max-width: 100%;
  display: block;
  margin: auto;
}
.inbox__subtitle {
  margin: 0;
  margin-top: 32px;
  color: #F1592B;
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
}
.inbox__title {
  margin: 0;
  margin-top: 17px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
}
.inbox__description {
  margin: 0;
  margin-top: 18px;
  font-size: 24px;
  line-height: 34px;
}
.inbox__human {
  margin-top: 30px;
  background-color: #fff;
  padding: 30px 20px;
  border-bottom: 4px solid #0185D0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}
.inbox__human-quote {
  font-size: 20px;
  line-height: 28px;
  margin: 0;
}
.inbox__human-quote__person {
  margin-top: 26px;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: flex-start;
}
.inbox__human-quote__person-photo {
  margin-right: 11px;
  margin-top: 2px;
}
.inbox__name__personname {
  margin: 0;
  font-weight: 700;
}
.inbox__name__ocupation {
  color: #959496;
}
.inbox__image-for-big-screen {
  display: none;
}
@media (min-width: 1400px) {
  .inbox {
    display: flex;
    padding: 115px 99px 101px 193px;
  }
  .inbox .inbox__image-for-big-screen {
    display: block;
    margin: 0;
    margin-top: 27px;
    margin-right: 164px;
  }
  .inbox .inbox__image-for-big-screen figcaption {
    text-align: center;
    color: #807f81;
    font-size: 14px;
    line-height: 22px;
    margin-top: 15px;
  }
  .inbox .inbox__image-for-small-screen {
    display: none;
  }
  .inbox__text-content {
    max-width: 599px;
  }
  .inbox__subtitle, .inbox__title, .inbox__description {
    padding: 0 30px 0 28px;
  }
  .inbox__subtitle {
    margin: 0;
  }
  .inbox__title {
    margin-top: 24px;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
  }
  .inbox__description {
    margin-top: 30px;
  }
  .inbox__human {
    margin-top: 44px;
    padding: 30px 30px;
  }
  .inbox__name__personname, .inbox__name__ocupation {
    font-size: 16px;
    line-height: 22px;
  }
}

.communication {
  padding: 50px 15px;
  transition: 1s;
}
.communication__half-underline {
  height: 1px;
  background-color: #000;
  opacity: 0.1;
  width: 150px;
  margin-top: 40px;
}
@media (min-width: 1400px) {
  .communication {
    padding: 110px 0;
  }
  .communication .communication-main-sector {
    display: flex;
    padding: 0 193px 68px 126px;
  }
  .communication__half-underline {
    margin-left: 128px;
  }
}

.communication-main-block__subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #0189D1;
}
.communication-main-block__title {
  margin: 0;
  margin-top: 17px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
  transition: 1s;
}
@media (min-width: 1400px) {
  .communication-main-block__title {
    margin-top: 24px;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
  }
}
.communication-main-block__top-description {
  margin: 0;
  margin-top: 18px;
  font-size: 24px;
  line-height: 34px;
  transition: 1s;
}
@media (min-width: 1400px) {
  .communication-main-block__top-description {
    margin-top: 30px;
  }
}
.communication-main-block__button {
  padding: 17px 30px 18px 30px;
  background-color: #3040C4;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  color: #fff;
  border: none;
  outline: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  margin-top: 30px;
  transition: 1s;
}
@media (min-width: 1400px) {
  .communication-main-block__button {
    margin-top: 56px;
  }
}

.communication-smallimage {
  margin: 0;
  margin-top: 40px;
}
.communication-smallimage figcaption {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #807f81;
  margin-top: 17px;
}
.communication-smallimage__smallimage-img {
  max-width: 100%;
  display: block;
  margin: auto;
  transition: 1s;
}
@media (min-width: 1400px) {
  .communication-smallimage {
    display: none;
  }
}

.communication-bigimage {
  display: none;
  margin: 0;
  margin-left: 194px;
  transition: 1s;
}
.communication-bigimage figcaption {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #807f81;
  margin-top: 15px;
}
@media (min-width: 1400px) {
  .communication-bigimage {
    display: block;
  }
}

.communication-additional-p {
  font-size: 18px;
  line-height: 26px;
  transition: 1s;
}
.communication-additional-p__p-add-inform {
  margin: 0;
  margin-top: 33px;
}
.communication-additional-p__p-add-inform span, .communication-additional-p__p-add-inform a {
  font-weight: 700;
}
.communication-additional-p__p-add-inform a {
  display: block;
  color: #054cb7;
  margin: 0;
}
@media (min-width: 1400px) {
  .communication-additional-p {
    display: flex;
    padding: 41px 130px 0 128px;
  }
  .communication-additional-p__p-add-inform {
    margin-top: 0;
    margin-right: 30px;
  }
  .communication-additional-p__p-add-inform:last-child {
    margin-right: 0;
  }
}

.audience {
  padding: 50px 15px;
  background-color: #edf8fb;
  transition: 1s;
}
@media (min-width: 1400px) {
  .audience {
    padding: 108px 131px 110px 130px;
  }
}

.audience-top-section {
  text-align: center;
  transition: 1s;
}
@media (min-width: 1400px) {
  .audience-top-section {
    padding: 0 300px;
  }
}
.audience-top-section__subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
}
.audience-top-section__title {
  margin: 0;
  margin-top: 17px;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
  transition: 1s;
}
@media (min-width: 1400px) {
  .audience-top-section__title {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    margin-top: 24px;
  }
}
.audience-top-section__description {
  margin: 0;
  margin-top: 18px;
  font-size: 24px;
  line-height: 34px;
  transition: 1s;
}
@media (min-width: 1400px) {
  .audience-top-section__description {
    margin-top: 30px;
  }
}

.audience__actions {
  margin-top: 30px;
  transition: 1s;
}
@media (min-width: 1400px) {
  .audience__actions {
    margin-top: 34px;
  }
}

.audience-bottom-section {
  margin-top: 40px;
  transition: 1s;
}
@media (min-width: 1400px) {
  .audience-bottom-section {
    margin-top: 111px;
    display: flex;
    justify-content: space-between;
  }
}
.audience-bottom-section__link {
  display: block;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 15px;
  text-decoration: none;
  color: #2b292d;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  transition: 0.5s;
}
.audience-bottom-section__link:hover {
  background-color: #3141C5;
  color: #fff;
}
@media (min-width: 1400px) {
  .audience-bottom-section__link {
    margin: 0;
    margin-right: 30px;
    max-width: 262px;
  }
  .audience-bottom-section__link:last-child {
    margin: 0;
  }
}
.audience-bottom-section__link:last-child {
  margin: 0;
}
.audience-bottom-section__image-place {
  margin: 0;
}
.audience-bottom-section__image-place figcaption {
  text-align: center;
  margin-top: 22px;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
}
.audience-bottom-section__image {
  max-width: 100%;
  display: block;
  margin: auto;
}
.audience-bottom-section .audience-first-link {
  padding: 22px 76px 33px 76px;
  transition: 1s;
}
@media (min-width: 1400px) {
  .audience-bottom-section .audience-first-link {
    padding: 22px 62px 33px 62px;
  }
}
.audience-bottom-section .audience-second-link {
  padding: 22px 74px 33px 74px;
  transition: 1s;
}
@media (min-width: 1400px) {
  .audience-bottom-section .audience-second-link {
    padding: 22px 60px 33px 60px;
  }
}
.audience-bottom-section .audience-fourth-link {
  padding: 22px 65px 33px 65px;
  transition: 1s;
}
@media (min-width: 1400px) {
  .audience-bottom-section .audience-fourth-link {
    padding: 22px 51px 33px 51px;
  }
}
.audience-bottom-section .audience-fifth-link {
  padding: 22px 100px 33px 71px;
  transition: 1s;
}
@media (min-width: 1400px) {
  .audience-bottom-section .audience-fifth-link {
    padding: 22px 72px 33px 71px;
  }
}

.headline__learn-more-btn.headline__actions-btn.audience-learn-more-btn {
  color: #000;
}

.feedback {
  padding: 39px 15px 50px 15px;
  border-bottom: 1px solid #E3E3E3;
  transition: 1s;
}
@media (min-width: 1400px) {
  .feedback {
    text-align: center;
    padding: 0 0 66px 0;
    position: relative;
  }
}
.feedback__image {
  max-width: 100%;
  display: block;
  margin: auto;
  margin-top: 40px;
  transition: 1s;
}
@media (min-width: 1400px) {
  .feedback__image {
    max-width: 273px;
    max-height: 243px;
    display: inline-block;
    margin: 0;
    position: absolute;
    right: 26px;
    bottom: 0;
  }
}

.feedback-article__title {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #3142c6;
  transition: 1s;
}
@media (min-width: 1400px) {
  .feedback-article__title {
    margin: 0 130px;
  }
}

.feedback-article__description {
  margin: 0;
  margin-top: 29px;
  font-size: 24px;
  line-height: 34px;
  transition: 1s;
}
@media (min-width: 1400px) {
  .feedback-article__description {
    margin: 28px 325px 0 325px;
  }
}

.feedback-article__person-name {
  margin: 0;
  margin-top: 32px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  transition: 1s;
}
.feedback-article__person-name .feedback-article__person-ocupation {
  font-weight: normal;
  color: #959496;
}
@media (min-width: 1400px) {
  .feedback-article__person-name {
    margin-top: 34px;
  }
}

.feedback-dots {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  transition: 0.3s;
}
.feedback-dots__dot {
  display: block;
  width: 12px;
  height: 12px;
  background-color: #d5d4d5;
  border-radius: 50%;
  margin-right: 19.5px;
}
.feedback-dots__dot:last-child {
  margin-right: 0;
}
.feedback-dots__dot:hover {
  background-color: #3141C5;
}
@media (min-width: 1400px) {
  .feedback-dots {
    margin-top: 38px;
  }
}

.hiring {
  padding: 50px 15px;
  transition: 1s;
}
@media (min-width: 1400px) {
  .hiring {
    padding: 106px 0 110px 0;
  }
}

.hiring-top-block {
  text-align: center;
}
.hiring-top-block__title {
  margin: 0;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
  transition: 1s;
}
@media (min-width: 1400px) {
  .hiring-top-block__title {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    padding: 0 422px;
  }
}
.hiring-top-block__description {
  margin: 0;
  margin-top: 18px;
  font-size: 24px;
  line-height: 34px;
  transition: 1s;
}
@media (min-width: 1400px) {
  .hiring-top-block__description {
    padding: 0 422px;
    margin-top: 20px;
  }
}
.hiring-top-block__action {
  border: none;
  outline: none;
  display: inline-block;
  padding: 17px 50px 18px 50px;
  background-color: #3040C4;
  border-radius: 2px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  color: #fff;
  margin-top: 30px;
  transition: 1s;
}
@media (min-width: 1400px) {
  .hiring-top-block__action {
    margin-top: 28px;
  }
}

.hiring-list-for-mobile {
  padding: 0;
  margin: 0;
  margin-top: 39px;
  list-style-type: none;
  transition: 1s;
}
.hiring-list-for-mobile__item {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(43, 41, 45, 0.2);
  border-radius: 8px;
  margin-bottom: 15px;
}
.hiring-list-for-mobile__item:last-child {
  margin-bottom: 0;
}
.hiring-list-for-mobile p {
  margin: 19px 21px 19px 20px;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
}
.hiring-list-for-mobile p span {
  display: inline-block;
  margin-top: 7px;
  font-size: 16px;
  line-height: 22px;
  color: #d5d4d5;
  font-weight: normal;
}
.hiring-list-for-mobile__elemforarrow {
  padding: 64px 22px 64px 21px;
  background-color: #d5d4d5;
  display: inline-block;
  background-image: url("img/arrow-right-mobile-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0 8px 8px 0;
}
@media (min-width: 1400px) {
  .hiring-list-for-mobile {
    display: none;
  }
}

.hiring-list-for-desktop {
  display: none;
  transition: 1s;
}
@media (min-width: 1400px) {
  .hiring-list-for-desktop {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-top: 110px;
  }
  .hiring-list-for-desktop__item {
    width: 750px;
    border: 1px solid rgba(43, 41, 45, 0.2);
    border-radius: 8px;
    display: flex;
    padding: 26px 0 26px 25px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.2s;
  }
  .hiring-list-for-desktop__item:last-child {
    margin-bottom: 0;
  }
  .hiring-list-for-desktop p {
    margin: 0;
  }
  .hiring-list-for-desktop__profession {
    width: 408px;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
  }
  .hiring-list-for-desktop__job-condition {
    font-size: 18px;
    line-height: 24px;
    color: #807f81;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }
  .hiring-list-for-desktop__elemforarrow {
    width: 7.44px;
    height: 12px;
    background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 24.59px;
  }
  .hiring-list-for-desktop__item:hover {
    background-color: #3141C5;
  }
  .hiring-list-for-desktop__item:hover p {
    color: #fff;
  }
  .hiring-list-for-desktop__item:hover .hiring-list-for-desktop__elemforarrow {
    background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right-white.png");
  }
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  color: #2B292D;
}

.page {
  width: 100%;
  transition: 1s;
}
@media (min-width: 1400px) {
  .page {
    max-width: 1400px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=styles.css.map */
