.customers{
    width: 1140px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 106px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.customers__logo{
    filter: brightness(0);
}
