.footer{
    margin-top: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}
.footer-navigation{
    display: flex;
    flex-direction: column;
}
@media(min-width:400px){
    .footer-navigation{
        width: 1140px;
        margin: 0 auto;
        height: 338px;
        display: flex;
        flex-direction: row;
    }
}
.footer__description{
    display: none;
    line-height: 26px;
    font-size: 18px;
    width: 360px;
    margin-top: 26px;
    color: rgba(43, 41, 45, 0.6);
}
.downloads{
    margin: 25px 15px 0 15px;
    display: flex;
    justify-content: center;
}
@media(min-width:400px){
    .downloads{
        margin: 0;
        margin-top: 25px;
        justify-content: left;
    }
}
.download__item{
    margin-right: 10px;
}
.about-company{
    margin-top: 44px;
}
.additional-navigation{
    margin: 0 15px;
    display: flex;
    flex-direction: column;
}
@media(min-width:400px){
    .additional-navigation{
        flex-direction: row;
        margin: 0;
        margin-top: 60px;
        margin-left: auto;
    }
}
.additional-navigation__column{
    margin-top: 30px;
}
@media(min-width:400px){
    .additional-navigation__column{
        margin-top: 0;
        margin-right: 29px;
    }
}
.nav-links{
    width: 265px;
}
.nav-links__title{
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    color: #28292D;
    margin: 0;
}
.nav-links__list{
    list-style-type: none;
    font-size: 18px;
    line-height: 30px;
    color:rgba(43, 41, 45, 0.6);
    margin: 0;
    margin-top: 18px;
    padding: 0;
}






.footer-links{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}
@media(min-width:400px){
    .footer-links{
        height: 50px;
        flex-direction: row;
        width: 1140px;
        margin: 0 auto;
        align-items: center;
    }
}
.terms{
    line-height: 22px;
    font-size: 14px;
    margin-top: 30px;
}
@media(min-width:400px){
    .terms{
        line-height: 50px;
        margin-top: 0;
    }
}
.terms__items{
    text-decoration: none;
    color: rgba(43, 41, 45, 0.6);
    margin-right: 22px;
}
.footer__line{
    border-top: 1px solid #2B292D;
    width: 100%;
    margin: 0;
    margin-top: 40px;
    opacity: 0.1;
}
@media(min-width:400px){
    .footer__line{
        margin: 0;
    }
}
.solial-links{
    margin-top: 30px;
    margin-bottom: 23px;
}
@media(min-width:400px){
    .solial-links{
        margin-left: auto;
        margin-bottom: 0;
    }
}
.solial-links__item{
    margin-left: 20px;
}
.solial-links__item:first-child{
    margin-left: 0;
}



.logo-vertical{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-vertical__name{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    margin-top: 20px;
}
.logo-vertical__text{
    
}
.logo-vertical__description{
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: rgba(43, 41, 45, 0.6);
}
.logo-vertical__image{
    width: 60px;
    height: 60px;
}

@media(min-width:400px){
    .logo-vertical{
        display: none;
    }
    .footer__description{
        display: block;
    }
}
@media(max-width:399px){
    .footer .logo{
        display: none;
    }
}