.inbox {
  background-color: $color-light-cream;
  padding: 50px 15px;
  transition: 1s;
  &__image-for-small-screen {
    margin: 0;
    img {
      max-width: 100%;
      display: block;
      margin: auto;
    }
  }
  &__subtitle {
    margin: 0;
    margin-top: 32px;
    color: $text-color-darkorange;
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
  }
  &__title {
    margin: 0;
    margin-top: 17px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.357143px;
  }
  &__description {
    margin: 0;
    margin-top: 18px;
    font-size: 24px;
    line-height: 34px;
  }
  &__human {
    margin-top: 30px;
    background-color: $color-white;
    padding: 30px 20px;
    border-bottom: 4px solid $color-blue;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1),
      inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  }
  &__human-quote {
    font-size: 20px;
    line-height: 28px;
    margin: 0;
  }
  &__human-quote__person {
    margin-top: 26px;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: flex-start;
  }
  &__human-quote__person-photo {
    margin-right: 11px;
    margin-top: 2px;
  }
  &__name__personname {
    margin: 0;
    font-weight: 700;
  }
  &__name__ocupation {
    color: $text-color-darkgrey;
  }
  &__image-for-big-screen {
    display: none;
  }
  @include for-large-up {
    display: flex;
    padding: 115px 99px 101px 193px;
    .inbox__image-for-big-screen {
      display: block;
      margin: 0;
      margin-top: 27px;
      margin-right: 164px;
      figcaption {
        text-align: center;
        color: $text-color-greyforfigcaption;
        font-size: 14px;
        line-height: 22px;
        margin-top: 15px;
      }
    }
    .inbox__image-for-small-screen {
      display: none;
    }
    &__text-content {
      max-width: 599px;
    }
    &__subtitle,
    &__title,
    &__description {
      padding: 0 30px 0 28px;
    }
    &__subtitle {
      margin: 0;
    }
    &__title {
      margin-top: 24px;
      font-size: 56px;
      line-height: 56px;
      letter-spacing: -0.5px;
    }
    &__description {
      margin-top: 30px;
    }
    &__human {
      margin-top: 44px;
      padding: 30px 30px;
    }
    &__name__personname,
    &__name__ocupation {
      font-size: 16px;
      line-height: 22px;
    }
  }
}
