$text-color-green:#009b4d;
$text-color-light-grey:#2b292d99;
$text-color-blue: #3142c6;
$text-color-darkorange: #F1592B;
$text-color-darkgrey:#959496;
$text-color-greyforfigcaption: #807f81;
$text-color-blue-type1: #0189D1;
$text-color-blue-type2: #1870f4;

$color-light: #F4F5F7;
$color-dark:#2b292d;
$color-light-cream: #FCF0E3;
$color-white: #fff;
$color-blue: #0185D0;
$color-darkblue: #3040C4;
$color-black:#000;


$border-color: #2b292d33;